@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type:none;
	list-style-position:outside;
}
a{
	text-decoration: none;
}
img{
	vertical-align: bottom;
}
div{
	box-sizing:border-box;
}
.kyotiko{
	font-family: "Indie Flower", cursive;
}

