@charset "utf-8";

#wrapper{
	max-width: 100%;
	margin: 0 auto;
	margin-top: 100px;
  	overflow:hidden; 
  	z-index: 1;
  	position: relative;
}
#wrapper ul{
	width: 95%;
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#srch{
	width: 960px;
	margin: 0 auto;
	display: flex;
	border-bottom: solid 1px lightgray;
}
#srchLeft{
	margin: 10px 70px 30px 70px;
}
#srchLeft img{
	box-sizing: border-box;
	border: solid 1px red;
}
#srchLeft p,
#srchLeft img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	/*transform: translate(0%, -50%);	*/
}
#srchRight{
	padding: 20px;
}
#srchRight div{
	margin-bottom: 10px;
}
#srchRight{
	display: flex;
	align-items: center;
}
#srchRight p{
	margin-right: 20px;
}
#srchRight p:first-child{
	font-size: 2em;
}
#contIn{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 30px;
}
#contIn ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}
.photoIn{
	width: calc(25% - 20px);
	margin: 0px 10px;
	overflow: hidden;
	position: relative;
}
#contIn li{ 
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	height: 35vh;
	margin-bottom: 30px;
	overflow: hidden;
}
#contIn ul::before{
  content:"";
  display: block;
  width: calc(25% - 1px);
  order:1;
}
#contIn ul::after{
  content:"";
  display: block;
  width: calc(25% - 1px);
}
#contIn img{
	width: 100%;
	height: 90%;
	text-align: center;
}
.photoIn .caption{
	text-align: center;
	width: 100%;
	font-size: 130%;
	color: #fff;
	padding-top: 80px;
}
.photoIn .mask {
	box-sizing: border-box;
	width: 100%;
	height: calc(90% - 30px);
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:	all 0.4s ease;
	-webkit-transform: scale(0);	/* 大きさを０にして表示しない */
	transform: scale(0);
}
.photoIn:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:		scale(1);
}


